body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    background-color: lightgray;
    text-align: center
}

h1 {
    text-align: center;
    background-color:darkgray;
}

h2 {
    text-align: center;
}

li {
    display: inline;

}

li:hover {
    background-color:white;
}

aside {
    text-align: end;
}


li {
    background-color:darkgray;
}
