body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}
header {

}

li {
    display: inline;
}

section {
    
}

aside {
    text-align: end;
}

footer {
    
}
